<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    .fila-gris { background-color: #f2f2f2; } /* Fondo gris */
    .fila-blanca { background-color: #ffffff; } /* Fondo blanco */
    table { width: 50%; border-collapse: collapse; }
    th, td { padding: 10px; text-align: left; border: 1px solid #ddd; }
</style>

    <h1>ADMIN VIEW</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Alias</th>
            <th>Email</th>
            <th>Rol</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterStat : ${usuarios}" th:class="${iterStat.odd} ? 'fila-gris' : 'fila-blanca'">
            <td th:text="${user.nombre}"></td>
            <td th:text="${user.apellidos}"></td>
            <td th:text="${user.alias}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <form th:action="@{/eliminar/{alias}(alias=${user.alias})}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</body>
</html>