<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario Bonito</title>
    <link rel="stylesheet" href="cssIndex.css">

</head>
<body>
<div class="toast" th:classappend="${isBad} ? 'showBad' : ''">
    <span th:text="${mensajeToast}"></span>
</div>

<style>
    .toast {
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: #4CAF50; /* Verde */
        color: white;
        padding: 15px;
        border-radius: 5px;
        display: none; /* Oculto por defecto */
        z-index: 1000; /* Asegura que esté encima de otros elementos */
    }
    .toast.showBad{
        display: block;
        background-color: #ff3232; /* Verde */
    }

    .toast.show {
        display: block; /* Muestra el toast */
    }
</style>
<script th:inline="javascript">
    /*<![CDATA[*/
    addEventListener("DOMContentLoaded", ()=>{
        if ('${mensajeToast}') {
            setTimeout(function() {
                document.querySelector('.toast').classList.remove('show');
                document.querySelector('.toast').classList.remove('showBad');
            }, 2000); // 2000 milisegundos = 2 segundos
        }
    });

</script>
<div class="form-container">
    <h2>Registro</h2>
    <form id="formulario2" name= "formulario2" action="/datosusuario" method="post">
        <div class="form-group">
            <label for="nameNamed">Nombre</label>
            <input type="text" id="nameNamed" name="name_form" required>
        </div>
        <div class="form-group">
            <label for="surnname">Apellidos</label>
            <input type="text" id="surnname" name="surnname_form" required>
        </div>
        <div class="form-group">
            <label for="alias">Usuario</label>
            <input type="text" id="alias" name="alias_form" required>
        </div>
        <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="email" id="email" name="email_form" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password_form" required>
        </div>

        <button type="submit" form="formulario2">Registrarse</button>
    </form>
    <p>Si ya tiene una cuenta, <a href="/login">clické aquí</a></p>
</div>
</body>
</html>